<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- CSS -->
    <link rel="stylesheet" href="/css/home.css">
    
    <title>Polling API System</title>

    
</head>

<body>
    
    <div class="box">

        <div class="content">

        
                    <h2>Pooling API System</h2>
                
                <div>
                    
                    Features
                </div>
            

        <!-- ************  Create a question ********** -->

        <ol>
            <li>
                <h3> Create a question</h3>
                <ul>
                    <li>
                        <button style="color: #00a037;">Method POST</button>
                        <span> http://localhost:2000/questions/create </span>
                    </li>
                    
                </ul>
            </li>
        

        
            <!-- <div>
                <h5>1. Create a question</h5>
                <button>Method POST</button>
                <span> http://localhost:2000/questions/create </span>
            </div> -->
        
        <!-- ************ Add optionss to a question ********** -->

        
            <li>
                <h3> Add options to a question</h3>
                <ul>
                    <li>
                        <button style="color: #00a037;">Method POST</button>
                        <span> http://localhost:2000/questions/id/options/create </span>
                    </li>
                </ul>
            </li>
        
        
            <!-- <div>
                <h5>2. Add options to a question</h5>
                <button>Method POST</button>
                <span> http://localhost:2000/questions/id/options/create </span>
            </div> -->
        
        <!-- ************ Add a vote to an option of question ********** -->

        
            <li>
                <h3> Add a vote to an option of question</h3>
                <ul>
                    <li>
                        <button style="color: #00a037;">Method POST</button>
                        <span> http://localhost:2000/options/id/add_vote </span>
                    </li>
                </ul>
            </li>
        
        
            <!-- <div>
                <h5>3. Add a vote to an option of question</h5>
                <button>Method POST</button>
                <span> http://localhost:2000/options/id/add_vote </span>
            </div> -->
        
        <!-- ************  Delete a question ********** -->

        
            <li>
                <h3> Delete a question</h3>
                <ul>
                    <li>
                        <button style="color: #ed0000;">Method DELETE</button>
                        <span> http://localhost:2000/questions/id/delete </span>
                    </li>
                </ul>
            </li>
        
        
            <!-- <div>
                <h5>4. Delete a question</h5>
                <button>Method DELETE</button>
                <span>http://localhost:2000/questions/id/delete </span>
            </div>
         -->
        <!-- ************  Delete an option ********** -->

        
            <li>
                <h3> Delete an option</h3>
                <ul>
                    <li>
                        <button style="color: #ed0000;">Method DELETE</button>
                        <span> http://localhost:2000/options/id/delete </span>
                    </li>
                </ul>
            </li>
        

        
            <!-- <div>
                <h5>5. Delete an option</h5>
                <button>Method DELETE</button>
                <span> http://localhost:2000/options/id/delete </span>
            </div> -->
        
        <!-- View a question with it’s options and all the votes given to it ********** -->

        
            <li>
                <h3> View a question with it’s options and all the votes </h3>
                <ul>
                    <li>
                        <button style="color: yellow;">Method GET</button>
                        <span> http://localhost:2000/allquestions </span>
                    </li>
                </ul>
            </li>
        
        
            <!-- <div>
                <h5>6. View a question with it’s options and all the votes </h5>
                <button>Method GET</button>
                <span> http://localhost:2000/allquestions </span>
            </div> -->

            
        </ol>

    </div>

    </div>


</body>

</html>
